:root {
  --primary-color: #4caf50;
  --dark-primary-color: #388e3c;
  --light-primary-color: #c8e6c9;
  --accent-color: #ffc107;
  --background-color: #fefefe;
  --primary-text-color: #161616;
  --secondary-text-color: #757575;
  --divider-color: #bdbdbd;
  --border-color: #16161622;
  --text-shadow: #16161644;
  --box-shadow: #16161611;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border: 1px solid var(--border-color);
}
body::-webkit-scrollbar-track {
  background-color: var(--light-primary-color);
  border: 1px solid var(--border-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}
a:hover {
  filter: brightness(1.1);
}

button {
  border-radius: 8px;
  border: 1px solid var(--border-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
  text-shadow: 0 0 4px var(--text-shadow);
  box-shadow: 2px 2px 4px var(--box-shadow);
}
button:hover {
  filter: brightness(1.1);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
  cursor: default;
  color: var(--divider-color);
  background-color: var(--dark-primary-color);
}
button:disabled:hover {
  filter: brightness(1);
  border-color: transparent;
}

input,
select {
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  box-shadow: inset 2px 2px 4px var(--box-shadow);
}
input::placeholder {
  color: var(--divider-color);
}
input[type='checkbox'] {
  width: auto;
  vertical-align: middle;
  margin-bottom: 2px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 0.2rem;
  position: relative;
  cursor: pointer;
}
input[type='checkbox']:checked {
  background-color: var(--primary-color);
}
input[type='checkbox']:checked::after {
  content: '';
  width: 0.3rem;
  height: 0.6rem;
  border: solid var(--background-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  margin: 0.1rem 0.3rem;
}

ul {
  list-style: none;
}
