.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttons {
  margin-right: auto;
  min-width: 123px;
}
