.header {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  padding: 1rem 0;
  z-index: 999;
  box-shadow: 0 4px 4px var(--box-shadow);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.link {
  display: flex;
  place-items: center;
  gap: 1rem;
  color: var(--primary-text-color);

  img {
    width: 80px;
    height: auto;
  }

  h1 {
    text-transform: uppercase;
  }
}
.link:hover {
  color: var(--primary-text-color);
}

.ul {
  display: flex;
  align-items: center;
  gap: 3rem;

  li a {
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
  }
  li a:hover {
    color: var(--primary-color);
  }
}

.control {
  display: flex;
  align-items: center;
  gap: 1rem;

  li a {
    display: flex;
    place-items: center;
  }
}
