.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;

  h2 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 0.5rem;
  }
}

.box {
  border: 1px solid var(--border-color);
  border-radius: 0.8rem;
  padding: 2rem;
  box-shadow: 4px 4px 4px var(--box-shadow);
  min-height: 600px;
}

.walletBox {
  margin: 0 auto;
  border: 1px solid var(--border-color);
  border-radius: 0.8rem;
  padding: 1rem;
  box-shadow: 4px 4px 4px var(--box-shadow);
  min-width: 500px;
  min-height: 100px;
}

.wallet {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr;
}

.profile {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.nav {
  border-right: 2px solid var(--border-color);
  padding-right: 1rem;

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  li a {
    display: block;
    color: var(--primary-text-color);
  }
  li a:hover {
    color: var(--primary-color);
  }
  li a span {
    display: block;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
  }
}

.info {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;

  li {
    display: flex;
    flex-direction: column;
  }
}

.label {
  user-select: none;
  text-align: center;
  color: var(--divider-color);
  font-size: 0.8rem;
}

.icon {
  color: var(--divider-color);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0.7;
}

.address {
  display: flex;
  flex-direction: column;
  border-right: 2px solid var(--border-color);
  padding: 0 1rem 0 0.5rem;
}

.balance {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem 0 1rem;
}

.span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  color: var(--secondary-text-color);
  border: 1px solid var(--border-color);
  border-radius: 0.3rem;
  padding: 0.3rem 1.2rem;
}

.buttons {
  display: flex;
  gap: 2rem;
}

.big {
  font-size: 1.2rem;
}
